// Space Mono
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i");

// Domaine
@font-face {
  font-family: "Domaine";
  src: url("./assets/fonts/domaine/DomaineTextWeb-Light.eot");
  src: url("./assets/fonts/domaine/DomaineTextWeb-Light.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/domaine/DomaineTextWeb-Light.woff") format("woff"),
  url("./assets/fonts/domaine/DomaineTextWeb-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

$serifText: 'Domaine', 'Georgia', 'Times New Roman', serif;
$sansText: 'Space Mono', 'Courier', monospace;
