.about_ctr_desktop {
  @media(max-width: $tablet) {
    display: none;
  }
}

.about_ctr_mobile {
  display: none;

  @media(max-width: $tablet) {
    display: block;
  }
}

.about_ctr_content {
  display: flex;
  width: 70%;
  margin: 0 auto;

  @media(max-width: $tablet) {
    width: 90%;
  }

  >div {
    flex: 0 0 50%;

    @media(max-width: $tablet) {
      flex: 0 0 100%;
    }

    &:first-child {
      @media(max-width: $tablet) {
        display: none;
      }
    }

    &:last-child {
      @media(max-width: $tablet) {
        padding-top: 40px;
      }
    }
  }
}

.about_img_harriet {
  width: 90%;
}

.about_ctr_harriet {
  position: relative;
  width: 100%;
  height: 90vh;
  background: {
    image: url("/assets/tnb-about-mobile.jpg");
    position: top;
    size: cover;
  }
}

.about_ctr_accreditations {
  width: 100%;
  margin-top: 80px;

  img {
    height: 25px;
    margin-right: 10px;
  }
}

.about_ctr_accreditations-mobile {
  display: none;

  @media(max-width: $tablet) {
    display: block;
    text-align: center;
    margin-top: 40px;

    img {
      height: 24px;
      margin: 0 10px;
    }
  }
}

.about_img_afmcp {
  width: 200px;
  margin-top: 5px;

  @media(max-width: $tablet) {
    display: block;
    margin: 0 auto;
  }
}

.about_img_afmcp-mobile {
  display: none;

  @media(max-width: $tablet) {
    display: block;
  }
}

.about_txt_afmcp {
  p {
    font-size: 0.8em;
  }
}

.about_ctr_media-accred {
  display: none;

  @media(max-width: $tablet) {
    display: block;
    width: 90%;
    margin: 50px auto 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 0.7em;

        &::before {
          content: "";
          margin-right: 0;
        }
      }
    }
  }
}
