html,
body {
  font-family: $serifText;
  color: $textColour;
  margin: 0;
  padding: 0;
}

h1 {
  font: {
    size: 50px;
    weight: normal;
  }
  line-height: 1.2em;

  @media(max-width: $tablet) {
    font-size: 28px;
  }
}

h2 {
  font: {
    size: 18px;
    weight: normal;
  }
}

h3 {
  font: {
    size: 14px;
    weight: normal;
  }
}

p {
  font-size: 14px;
  line-height: 1.5em;
  margin: 0 0 20px;

  &._txt_intro {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 30px;
  }
}

a {
  background-color: $linkGreen;
  font-family: $sansText;
  color: $beanGreen;
  text-decoration: none;
  padding: 0 2px 2px;
  border-bottom: 1px solid $beanGreen;
}

._ctr_shell {
  background-color: $white;
  padding-bottom: 120px;

  @media(max-width: $tablet) {
    margin-bottom: 0 !important;
    padding-bottom: 60px;
  }
}

button {
  background-color: $linkGreen;
  font: 14px $sansText;
  color: $beanGreen;
  text-decoration: none;
  padding: 0 2px 2px;
  border: none;
  border-bottom: 1px solid $beanGreen;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

._txt_bean {
  font: 0.5em $beanText;
  vertical-align: 2px;
}
