html,
body {
  font-family: $serifText;
  color: $textColour;
  margin: 0;
  padding: 0;
}

h1 {
  font: {
    size: 50px;
    weight: normal;
  }
  line-height: 1.2em;

  @media(max-width: $tablet) {
    font-size: 28px;
  }
}

h2 {
  font: {
    size: 28px;
    weight: normal;
  }
  line-height: 1.3em;

  &._ttl_other-info {
    font-size: 18px;
  }
}

h3 {
  font: {
    size: 24px;
    weight: normal;
  }
  text-transform: uppercase;
  line-height: 1.2em;

  &._ttl_other-info {
    font-size: 14px;
  }
}

h4 {
  font: {
    size: 16px;
    weight: normal;
  }
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  line-height: 1.5em;
  margin: 0 0 20px;

  &._mod_pad-top {
    margin-top: 20px;
  }

  &._txt_intro {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-bottom: 30px;
  }
}

ul {
  list-style: {
    type: none;
    position: outside;
  }
  margin: 0;
  padding: 0 0 0 28px;

  li {
    text-indent: -28px;
    list-style-position: inside;

    &::before {
      content: "\2014\a0";
      margin-right: 15px;
    }
  }

}

ol {
  margin: 15px;
  padding: 0;

  li {
    padding-left: 15px;
  }
}

li {
  font-size: 14px;
}

a {
  background-color: $linkGreen;
  font-family: $sansText;
  color: $beanGreen;
  text-decoration: none;
  padding: 0 2px 2px;
  border-bottom: 1px solid $beanGreen;

  &:hover {
    font-style: italic;
  }

  &._mod_no-style {
    background-color: transparent;
    font-family: $serifText;
    color: $textColour;
    padding: 0;
    border: 0;
  }
}

._ctr_shell {
  background-color: $white;
  padding-bottom: 120px;

  @media(max-width: $tablet) {
    margin-bottom: 0 !important;
    padding-bottom: 60px;
  }
}

._ctr_blank,
._ctr_loading {
  position: relative;
  width: 100%;
  height: 100vh;
}

button {
  background-color: $linkGreen;
  font: 14px $sansText;
  color: $beanGreen;
  text-decoration: none;
  padding: 0 2px 2px;
  border: 0;
  border-bottom: 1px solid $beanGreen;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

._spc {
  width: 100%;

  &._dim_20 {
    height: 20px;
  }

  &._dim_40 {
    height: 40px;
  }

  &._dim_100 {
    height: 100px;
  }

  &._dim_mob_50 {
    @media(max-width: $tablet) {
      height: 50px;
    }
  }
}

._txt_bean {
  font: 0.5em $beanText;
  vertical-align: 2px;
}

._txt_green-mono {
  font: 13px $sansText;
  color: $beanGreen;

  p,
  li {
    font-size: 13px;
  }

  li::before {
    content: "*";
    margin-right: 15px;
  }
}

._mod_inline {
  display: inline-block;
}

._ctr_loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  margin: 0 20px 0 10px;
  transform: translate(-25%, -25%);
}
