html,
body {
  font-family: $serifText;
  color: $textColour;
  margin: 0;
  padding: 0;
}

h1 {
  font: {
    size: 50px;
    weight: normal;
  }
}

a {
  font-family: $sansText;
  color: $beanGreen;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid $beanGreen;
}
