html,
body {
  font-family: $serifText;
  color: $textColour;
  margin: 0;
  padding: 0;
}

h1 {
  font: {
    size: 50px;
    weight: normal;
  }
  line-height: 1.2em;

  @media(max-width: $tablet) {
    font-size: 28px;
  }
}

h2 {
  font: {
    size: 28px;
    weight: normal;
  }

  &._ttl_other-info {
    font-size: 18px;
  }
}

h3 {
  font: {
    size: 24px;
    weight: normal;
  }
  text-transform: uppercase;

  &._ttl_other-info {
    font-size: 14px;
  }
}

h4 {
  font: {
    size: 16px;
    weight: normal;
  }
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  line-height: 1.5em;
  margin: 0 0 20px;

  &._txt_intro {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 30px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li::before {
    content: "\2014\a0";
    margin-right: 15px;
  }
}

ol {
  margin: 15px;
  padding: 0;

  li {
    padding-left: 15px;
  }
}

a {
  background-color: $linkGreen;
  font-family: $sansText;
  color: $beanGreen;
  text-decoration: none;
  padding: 0 2px 2px;
  border-bottom: 1px solid $beanGreen;
}

._ctr_shell {
  background-color: $white;
  padding-bottom: 120px;

  @media(max-width: $tablet) {
    margin-bottom: 0 !important;
    padding-bottom: 60px;
  }
}

button {
  background-color: $linkGreen;
  font: 14px $sansText;
  color: $beanGreen;
  text-decoration: none;
  padding: 0 2px 2px;
  border: 0;
  border-bottom: 1px solid $beanGreen;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

._spc {
  width: 100%;

  &._dim_20 {
    height: 20px;
  }

  &._dim_100 {
    height: 100px;
  }

  &._dim_mob_50 {
    @media(max-width: $tablet) {
      height: 50px;
    }
  }
}

._txt_bean {
  font: 0.5em $beanText;
  vertical-align: 2px;
}

._txt_green-mono {
  font-family: $sansText;
  color: $beanGreen;

  li::before {
    content: "*";
    margin-right: 15px;
  }
}

._mod_inline {
  display: inline-block;
}
