.blog_ctr {
  width: 80%;
  margin: 0 auto;
}

.blog-menu_ctr {
  width: 100%;
  font: 11px $sansText;
  text-align: center;
  margin: -50px 0 100px;

  ul {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;

    li {
      display: inline-block;
      font-size: 12px;
      text-indent: 0;
      list-style-position: initial;
      margin: 0 10px;

      &::before {
        content: "";
        margin: 0;
      }
    }
  }
}

.blog-menu_lst_filters,
.blog-menu_lst_recipe-filters {
  a {
    background-color: transparent !important;
    border: 0;

    &:hover {
      border-bottom: 1px solid $beanGreen;
    }
  }
}

.blog-menu_lst_recipe-filters {
  a {
    color: $textColour;

    &:hover {
      color: $beanGreen !important;
    }
  }
}

.blog_grd_item {
  padding-bottom: 50px;

  >div {
    width: 100%;
  }

  img {
    width: 100%;
  }

  h2 {
    font-size: 32px;
    text-transform: none;
  }
}

.blog_img_poster {
  position: relative;
}

.blog_img_new-post {
  position: absolute;
  bottom: -40px;
  right: 12px;
  width: 80px !important;
}

.blog_txt_updated {
  font: 12px $sansText;
}

.blog_lnk_read {
  margin-top: 30px;
}

.blog-article_ctr_poster {
  position: fixed;
  width: 100%;
  height: 90vh;
  background: {
    position: center;
    size: cover;
  }
  z-index: -1;

  @media(max-width: $tablet) {
    display: none;
  }
}

.blog-article_img_new {
  position: absolute;
  right: 10%;

  @media(max-width: $tablet) {
    display: none;
  }

  img {
    width: 175px;
  }
}

.blog-article_ctr_panel {
  width: 100%;
  background-color: $white;
  margin-top: 90vh;
}

.blog-article_ctr_content {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
}

.blog-article_txt_cat-updated {
  font: 14px $sansText;
  color: $darkGrey;
}

.blog-article_ctr_body {
  width: 60%;
  font: {
    family: $serifText;
    size: 14px;
  }
  margin: 80px auto;

  h1 {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 80px;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  p {
    &:first-child {
      font-size: 20px;
      line-height: 1.2em;
    }
  }

  blockquote,
  blockquote p {
    font-size: 25px;
    color: $beanGreen;
    line-height: 1.3em;
    margin: 30px 0 30px 30px;
  }

  pre,
  pre p {
    font: 10px $serifText;
  }

  ul,
  ol {
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    margin: 20px 0;
  }

  figure {
    margin: 0;

    img {
      margin-bottom: 10px;
    }
  }

  figcaption {
    font: 12px $sansText;
    color: $beanGreen;
  }
}

.blog-article_ctr_tags {
  font-size: 12px;
  margin: 20px 0 10px;
}

.blog-article_ctr_tag {
  display: inline-block;
  font-size: 12px;
  color: $beanGreen;
  line-height: 1em;
  margin: 0 2px;
  padding: 4px 4px 5px 4px;
  border: 1px solid #83c280;
}

.blog-nav_ctr {
  display: flex;
  width: 60%;
  margin: 0 auto;

  div {
    flex: 0 0 50%;

    &:last-child {
      text-align: right;
    }

    img {
      width: 50px;
    }
  }
}

.recipe_ctr_ingredients {
  ul {
    list-style-type: none !important;

    li {
      &::before {
        content: "";
        margin: 0;
      }
    }
  }
}
