.blog_ctr {
  width: 80%;
  margin: 0 auto;
}

.blog_grd_item {
  padding-bottom: 50px;

  >div {
    width: 100%;
  }

  img {
    width: 100%;
  }

  h2 {
    font-size: 32px;
    text-transform: none;
  }
}

.blog_txt_updated {
  font: 12px $sansText;
}

.blog_lnk_read {
  margin-top: 30px;
}
