.footer_ctr {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  width: 100%;
  background-color: $grey;
  padding: 80px 0 10px;
  z-index: -2;

  @media(max-width: $tablet) {
    display: none;
  }




  p {
    font-size: 11px;
  }
}

.footer_ctr_top {
  width: 100%;

  >div {
    display: flex;
    width: 70%;
    margin: 0 auto;

    @media(max-width: $tablet) {
      flex-wrap: wrap;
      width: 90%;
    }

    >div {
      flex: 1 1 auto;

      @media(max-width: $tablet) {
        flex: 0 0 100%;
      }
    }
  }
}

.footer_ctr_menu {
  display: flex;

  >div {
    flex: 0 0 180px;

    &:first-child {
      font-size: 24px;
      text-transform: lowercase;
      line-height: 1.2em;

      img {
        width: 15px;
        margin-top: 20px;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 2px;

        &::before {
          content: "";
          margin-right: 0;
        }
      }
    }
  }

  a {
    background-color: transparent;
    font-size: 11px;
    color: $darkGrey;
    border: 0;

    &:hover,
    &:focus,
    &:active {
      color: $beanGreen;
    }
  }
}

.footer_ctr_accreditations {
  width: 100%;
  text-align: center;
  margin-top: 120px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: 0.7em;
      margin: 0 10px;

      &::before {
        content: "";
        margin-right: 0;
      }
    }
  }

  a {
    &:hover {
      opacity: 0.5;
    }
  }
}
