.home_ctr {
  position: relative;
  width: 100%;
}

.home_ctr_poster {
  width: 100%;
  height: 100vh;
  background: {
    image: url("/assets/tnb_homepage.jpg");
    position: center;
    size: cover;
  }
  z-index: -1;
}

.home_ctr_bacteria {
  width: 250px !important;
  margin: -80px 50px 0 auto !important;

  img {
    width: 100%;
  }
}

.home_ctr_top-panel {
  width: 100%;
  padding: 150px 0;
  background-color: $white;

  >div {
    display: flex;
    width: 70%;
    margin: 0 auto;

    >div {
      flex: 1 1 auto;

      &:first-child {
        padding-right: 80px;
      }

      &:last-child {
        text-align: right;


        img {
          width: 100%;
        }
      };
    }
  }
}

.home_txt_intro-title {
  display: inline-block;
  position: relative;

  img {
    position: absolute;
    width: 30px;
    top: 45px;
    right: -10px;
  }
}

.home_txt_intro {
  font-size: 18px;
}

.home_ctr_second-image {
  width: 100%;
  height: 100vh;
  background: {
    image: url("/assets/tnb-homepage-herbs.jpg");
    position: center;
    size: cover;
  }
}

.home_ctr_marquee {
  width: 100%;
  height: 40px;
  background-color: $beanGreen;
}

.home_ctr_bottom-panel {
  width: 100%;
  padding: 150px 0;
  background-color: $white;

  >div {
    display: flex;
    width: 70%;
    margin: 0 auto;

    >div {
      &:first-child {
        flex: 0 0 50%;
        padding-top: 20px;

        img {
          width: 100%;
        }
      }

      &:last-child {
        flex: 0 0 50%;
        padding-left: 100px;

        p {
          font-size: 30px;
          line-height: 1.2em;
          text-transform: uppercase;
        }
      }
    }
  }
}
