.home_ctr {
  position: relative;
  width: 100%;
}

.home_ctr_poster {
  position: relative;
  width: 100%;
  height: 100vh;
  background: {
    image: url("/assets/tnb_homepage.jpg");
    position: center;
    size: cover;
  }

  @media(max-width: $tablet) {
    display: none;
  }
}

.home_ctr_mobile-poster {
  display: none;

  @media(max-width: $tablet) {
    display: block;
    width: 100%;
    height: 90vh;
    background: {
      image: url("/assets/tnb-homepage-mobile.jpg");
      position: bottom;
      size: cover;
    }
    z-index: -1;
  }
}

.home_img_bacteria {
  position: absolute;
  bottom: -180px;
  right: 15%;

  @media(max-width: $tablet) {
    display: none;
  }

  img {
    width: 150px;
  }
}

.home_img_bacteria-mobile {
  display: none;

  @media(max-width: $tablet) {
    position: absolute;
    display: block;
    top: 550px;
    right: 20px;

    img {
      width: 100px;
    }
  }
}

.home_ctr_top-panel {
  width: 100%;
  padding: 150px 0 100px;
  background-color: $white;

  @media(max-width: $tablet) {
    padding: 120px 0 0;
  }
}

.home_ctr_top-panel-content {
  display: flex;
  width: 70%;
  margin: 0 auto;

  @media(max-width: $tablet) {
    flex-direction: row-reverse;
    width: 100%;
  }

  >div {
    flex: 1 1 auto;

    &:first-child {
      padding-right: 80px;

      @media(max-width: $tablet) {
        padding: 0 10px 0 20px;
      }
    }

    &:last-child {
      text-align: right;
      padding-top: 40px;

      @media(max-width: $tablet) {
        padding-top: 0;
      }
    };
  }
}

.home_txt_intro-title {
  display: inline-block;
  position: relative;

  img {
    position: absolute;
    width: 30px;
    top: 45px;
    right: -10px;

    @media(max-width: $tablet) {
      display: none;
    }
  }
}

.home_txt_intro {
  font-size: 18px;

  @media(max-width: $tablet) {
    font-size: 13px;
    margin-top: -10px;
  }
}

.home_img_harriet {
  @media(max-width: $tablet) {
    display: none;
  }

  img {
    width: 100%;
  }
}

.home_img_harriet-mobile {
  display: none;

  @media(max-width: $tablet) {
    display: block;

    img {
      width: 130px;
      margin-top: 26px;
    }
  }
}

.home_ctr_accreditations {
  width: 70%;
  text-align: right;
  margin: 100px auto;

  @media(max-width: $tablet) {
    width: 100%;
    text-align: center;
  }

  img {
    height: 20px;
    margin-right: 10px;

    @media(max-width: $tablet) {
      margin: 0 20px;
    }
  }
}

.home_ctr_parallax {
  @media(max-width: $tablet) {
    display: none;
  }
}

.home_ctr_parallax-mobile {
  display: none;

  @media(max-width: $tablet) {
    display: block;
  }
}

.home_ctr_parallax-image-mobile {
  width: 100%;
  height: 600px;
  background: {
    position: center;
    size: cover;
    image: url("/assets/tnb-homepage-herbs.jpg");
  }
}

.home_ctr_parallax-image,
.home_ctr_second-image {
  width: 100%;
  height: 600px;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
  }
}

.home_ctr_second-image {
  height: 600px;
}

.home_ctr_parallax-image {
  height: 400px;
}

.home_ctr_second-image-mobile {
  display: none;

  @media(max-width: $tablet) {
    display: block;
    width: 100%;
    height: 100vh;
    background: {
      image: url("/assets/tnb-home-mobile-herbs.jpg");
      position: center;
      size: cover;
    }
  }
}

.home_ctr_marquee {
  width: 100%;
  background-color: $beanGreen;
  font-size: 16px;
  color: $white;
  padding: 10px 0;

  a {
    background-color: transparent;
    font-family: $serifText;
    color: $white;
  }
}

.home_txt_marquee-item {
  display: inline;
  margin: 0 20px;
}

.home_ctr_bottom-panel {
  width: 100%;
  padding: 150px 0;
  background-color: $white;

  @media(max-width: $tablet) {
    margin-bottom: 0 !important;
    padding: 50px 0 100px;
  }

  >div {
    display: flex;
    width: 70%;
    margin: 0 auto;

    @media(max-width: $tablet) {
      flex-wrap: wrap;
      width: 88%;
    }

    >div {
      &:first-child {
        flex: 0 0 50%;
        padding-top: 20px;

        @media(max-width: $tablet) {
          flex: 0 0 100%;
        }

        img {
          width: 100%;
        }
      }

      &:last-child {
        flex: 0 0 50%;
        padding-left: 100px;

        @media(max-width: $tablet) {
          flex: 0 0 100%;
          padding-left: 20px;
        }

        p {
          font-size: 30px;
          line-height: 1.2em;
          text-transform: uppercase;

          @media(max-width: $tablet) {
            font-size: 24px;
          }
        }
      }
    }
  }
}

.MarqueeContent {
  display: inline-block;
}

.home_lst_marquee {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 20px;

    &::before {
      content: "";
      margin-right: 0;
    }

    a {
      display: inline-block;
      color: $white;
      padding-bottom: 1px;
      border-bottom: 1px solid $white;
    }
  }
}
