.privacy_ctr_content,
.terms_ctr_content {
  width: 70%;
  margin: 0 auto;

  @media(max-width: $tablet) {
    width: 90%;
  }

  h2 {
    margin-top: 30px;
  }

  p,
  li,
  th,
  td {
    font: {
      size: 12px;
      weight: normal;
    }
  }

  p {
    margin: 10px 0;
  }

  th {
    width: 20%;
    text-align: left;
    font-size: 0.8em;
  }

  td {
    width: 80%;
  }
}
