.title_ctr {
  width: 100%;
  text-align: center;
  margin: 49px 0 100px;

  img {
    width: 20%;
    z-index: 1;

    @media(max-width: $tablet) {
      width: 65%;
    }
  }

  a {
    background-color: transparent;
    border: none;
  }

  ._txt_page-title {
    font: 12px $sansText;
    margin-top: 20px;
  }
}
