@import "modules/colours";
@import "modules/typography";
@import "modules/dimensions";
@import "partials/base";

@import "partials/title";
@import "partials/fixed-content";
@import "partials/content";
@import "partials/navigation";
@import "partials/footer";
@import "partials/newsletter";

@import "partials/home";
@import "partials/about";
@import "partials/services";
@import "partials/therapy";
@import "partials/blog";
@import "partials/contact";
@import "partials/other-info";
