@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i");
@font-face {
  font-family: "Domaine";
  src: url("./assets/fonts/domaine/DomaineTextWeb-Light.eot");
  src: url("./assets/fonts/domaine/DomaineTextWeb-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/domaine/DomaineTextWeb-Light.woff") format("woff"), url("./assets/fonts/domaine/DomaineTextWeb-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

html,
body {
  font-family: "Domaine", "Georgia", "Times New Roman", serif;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 50px;
  font-weight: normal; }

a {
  font-family: "Space Mono", "Courier", monospace;
  color: #57ab53;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #57ab53; }

.title_ctr img {
  width: 30%; }

.fixed-content_ctr_left,
.fixed-content_ctr_right {
  position: fixed;
  top: 50%;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000; }

.fixed-content_ctr_left {
  left: -50px;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg); }

.fixed-content_ctr_right {
  right: -100px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg); }

.content_ctr {
  position: relative; }

.navigation_ctr_bean {
  position: fixed;
  top: 50px;
  left: 60px;
  width: 50px;
  height: 31px;
  background-image: url("/assets/bean.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  z-index: 2000;
  cursor: pointer; }
  .navigation_ctr_bean:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

.navigation_ctr_icon {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 0.5px;
  background-color: black;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .navigation_ctr_icon:first-child {
    top: 10px; }
  .navigation_ctr_icon:nth-child(2) {
    top: 15px; }
  .navigation_ctr_icon:last-child {
    top: 20px; }

.navigation_ctr_menu {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100vh;
  background-color: #57ab53;
  color: white;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  z-index: 1500; }
  .navigation_ctr_menu > div {
    padding: 100px 30px 30px 75px; }

.home_ctr {
  position: relative;
  width: 100%; }

.home_ctr_poster {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/tnb_homepage.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1; }

.home_ctr_bacteria {
  width: 250px !important;
  margin: -80px 50px 0 auto !important; }
  .home_ctr_bacteria img {
    width: 100%; }

.home_ctr_top-panel {
  width: 100%;
  padding: 150px 0;
  background-color: white; }
  .home_ctr_top-panel > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 70%;
    margin: 0 auto; }
    .home_ctr_top-panel > div > div {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
              flex: 1 1 auto; }
      .home_ctr_top-panel > div > div:first-child {
        padding-right: 80px; }
      .home_ctr_top-panel > div > div:last-child {
        text-align: right; }
        .home_ctr_top-panel > div > div:last-child img {
          width: 100%; }

.home_txt_intro-title {
  display: inline-block;
  position: relative; }
  .home_txt_intro-title img {
    position: absolute;
    width: 30px;
    top: 45px;
    right: -10px; }

.home_txt_intro {
  font-size: 18px; }

.home_ctr_second-image {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/tnb-homepage-herbs.jpg");
  background-position: center;
  background-size: cover; }

.home_ctr_marquee {
  width: 100%;
  height: 40px;
  background-color: #57ab53; }

.home_ctr_bottom-panel {
  width: 100%;
  padding: 150px 0;
  background-color: white; }
  .home_ctr_bottom-panel > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 70%;
    margin: 0 auto; }
    .home_ctr_bottom-panel > div > div:first-child {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      padding-top: 20px; }
      .home_ctr_bottom-panel > div > div:first-child img {
        width: 100%; }
    .home_ctr_bottom-panel > div > div:last-child {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      padding-left: 100px; }
      .home_ctr_bottom-panel > div > div:last-child p {
        font-size: 30px;
        line-height: 1.2em;
        text-transform: uppercase; }

/*# sourceMappingURL=styles.css.map */
