@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i");
@font-face {
  font-family: "Domaine";
  src: url("./fonts/domaine/DomaineTextWeb-Light.eot");
  src: url("./fonts/domaine/DomaineTextWeb-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/domaine/DomaineTextWeb-Light.woff") format("woff"), url("./fonts/domaine/DomaineTextWeb-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

html,
body {
  font-family: "Domaine", "Georgia", "Times New Roman", serif;
  color: #2c3042;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 50px;
  font-weight: normal; }

a {
  font-family: "Space Mono", "Courier", monospace;
  color: #57ab53;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #57ab53; }

.title_ctr img {
  width: 20%; }

.fixed-content_ctr_left,
.fixed-content_ctr_right {
  position: fixed;
  top: 50%;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000; }

.fixed-content_ctr_left {
  left: -50px;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  z-index: 3000; }

.fixed-content_ctr_right {
  right: -100px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg); }

.content_ctr {
  position: relative; }

.navigation_ctr_bean {
  position: fixed;
  top: 50px;
  left: 60px;
  width: 50px;
  height: 31px;
  background-image: url("/assets/bean.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  z-index: 2000;
  cursor: pointer; }
  .navigation_ctr_bean:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

.navigation_ctr_icon {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 1px;
  background-color: black;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out; }
  .navigation_ctr_icon:first-child {
    top: 10px;
    -webkit-transform-origin: left;
            transform-origin: left; }
  .navigation_ctr_icon:nth-child(2) {
    top: 15px; }
  .navigation_ctr_icon:last-child {
    top: 20px;
    -webkit-transform-origin: left;
            transform-origin: left; }

.navigation_ctr_menu {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100vh;
  background-color: #57ab53;
  font-size: 24px;
  color: white;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  z-index: 1500; }
  .navigation_ctr_menu > div {
    position: relative;
    height: calc(100vh - 130px);
    padding: 100px 30px 30px 75px; }
    .navigation_ctr_menu > div > div {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .navigation_ctr_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navigation_ctr_menu ul:first-child {
      margin-bottom: 40px; }
    .navigation_ctr_menu ul:last-child li:first-child {
      font-size: 0.6em;
      text-transform: uppercase; }

.footer_ctr {
  width: 100%;
  background-color: #f0efec;
  padding: 80px 0 120px; }
  .footer_ctr > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 70%;
    margin: 0 auto; }
    .footer_ctr > div > div {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
              flex: 1 1 auto; }

.footer_ctr_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }
  .footer_ctr_menu > div {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 180px;
            flex: 0 0 180px; }
    .footer_ctr_menu > div:first-child {
      font-size: 24px;
      text-transform: lowercase;
      line-height: 1.2em; }
      .footer_ctr_menu > div:first-child img {
        width: 15px;
        margin-top: 20px; }
    .footer_ctr_menu > div ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .footer_ctr_menu > div ul li {
        margin-bottom: 2px; }
  .footer_ctr_menu a {
    font-size: 11px;
    color: #666;
    border: 0; }

.home_ctr {
  position: relative;
  width: 100%; }

.home_ctr_poster {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/tnb_homepage.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1; }

.home_ctr_bacteria {
  width: 250px !important;
  margin: -80px 50px 0 auto !important; }
  .home_ctr_bacteria img {
    width: 100%; }

.home_ctr_top-panel {
  width: 100%;
  padding: 150px 0;
  background-color: white; }
  .home_ctr_top-panel > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 70%;
    margin: 0 auto; }
    .home_ctr_top-panel > div > div {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
              flex: 1 1 auto; }
      .home_ctr_top-panel > div > div:first-child {
        padding-right: 80px; }
      .home_ctr_top-panel > div > div:last-child {
        text-align: right; }
        .home_ctr_top-panel > div > div:last-child img {
          width: 100%; }

.home_txt_intro-title {
  display: inline-block;
  position: relative; }
  .home_txt_intro-title img {
    position: absolute;
    width: 30px;
    top: 45px;
    right: -10px; }

.home_txt_intro {
  font-size: 18px; }

.home_ctr_second-image {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/tnb-homepage-herbs.jpg");
  background-position: center;
  background-size: cover; }

.home_ctr_marquee {
  width: 100%;
  height: 40px;
  background-color: #57ab53; }

.home_ctr_bottom-panel {
  width: 100%;
  padding: 150px 0;
  background-color: white; }
  .home_ctr_bottom-panel > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 70%;
    margin: 0 auto; }
    .home_ctr_bottom-panel > div > div:first-child {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      padding-top: 20px; }
      .home_ctr_bottom-panel > div > div:first-child img {
        width: 100%; }
    .home_ctr_bottom-panel > div > div:last-child {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      padding-left: 100px; }
      .home_ctr_bottom-panel > div > div:last-child p {
        font-size: 30px;
        line-height: 1.2em;
        text-transform: uppercase; }

.newsletter_ctr {
  width: 200px;
  font: 11px "Space Mono", "Courier", monospace;
  color: #666;
  margin-left: auto; }
  .newsletter_ctr input {
    background-color: transparent;
    font: 11px "Space Mono", "Courier", monospace;
    margin-left: -5px;
    border: 0;
    outline: none; }
  .newsletter_ctr button {
    background-color: transparent;
    font: 11px "Space Mono", "Courier", monospace;
    color: #57ab53;
    border: 0;
    outline: none;
    cursor: pointer; }

.newsletter_ele_line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 5px 0; }

/*# sourceMappingURL=styles.css.map */
